/* Sidebar styles */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #001529;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.5s ease-in-out;
}

.closeSidebar {
  width: 120px;
  height: 100vh;
  background-color: #001529;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.5s ease-in-out;
}

.sidebar-title {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #34495e;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.sidebar ul,
.closeSidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li,
.closeSidebar ul li {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.sidebar ul li a,
.closeSidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover,
.closeSidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li a span {
  margin-left: 10px;
}
