* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Container for the select element */
.select-container {
  /* position: relative; */
  width: 100%;
  /* max-width: 300px; */
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* Style the select element itself */
.select-container select {
  width: 100%;
  padding: 10px 20px;
  appearance: none;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Add a hover effect */
.select-container select:hover {
  border-color: #888;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Add a focus effect */
.select-container select:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Style the arrow icon */
.select-container::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
  font-size: 12px;
}

/* Style the option elements */
.select-container select option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

/* Responsive design */
@media (max-width: 600px) {
  .select-container {
    max-width: 100%;
  }
}

/* Container for the date pickers */
.date-picker-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Style for each date picker */
.react-datepicker-wrapper {
  width: 20%;
  display: flex;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.react-datepicker__input-container input:hover {
  border-color: #888;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Datepicker calendar styling */
.react-datepicker {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: #4caf50;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.react-datepicker__current-month {
  color: white;
  font-weight: bold;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #4caf50;
  color: white;
}

.react-datepicker__day--today {
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .date-picker-container {
    flex-direction: column;
  }
}
